@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    line-height: 12px;
    border-width: 0 0 0px 0;
}

.slideanimate1 {
    visibility: hidden;
}

.animate1 {
    animation: slide1 0.3s 0.1s forwards;
}

@keyframes slide1 {
    from {
        opacity: 0;
        visibility: visible;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }
}

/* banner */
#banner {
    background-image: url("https://raw.githubusercontent.com/daphnesun/taiwan-mountain-disaster/main/assets/banner.jpg");
    min-height: 200vh;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.g-cover {
    position: relative;
}

.g-cover .g-cover-header {
    position: sticky;
    /* position: -webkit-sticky; */
    top: 0;
    height: 200vh;
    z-index: 10;
    font-family: "Noto Sans TC";
    /* color: #fff; */
    font-size: 20px;
    line-height: 28px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.g-cover .g-cover-header .g-cover-dek,
.g-cover .g-cover-header .g-cover-hed {
    width: calc(100% - 40px);
    margin: 0 auto;
    /* max-width: 900px; */
}

.g-cover .g-cover-header .g-cover-dek1 {
    padding-top: 20vh;
    max-width: 500px;
    color: #000;
    opacity: 1;
}

.g-cover .g-cover-header .g-cover-dek2 {
    opacity: 0;
    color: #fff;
}

.g-cover .g-cover-header .g-cover-hed {
    padding-bottom: 70px;
    opacity: 0;
    color: #fff;
}

.g-cover .g-cover-header .g-cover-byline+.g-cover-additional {
    margin-top: 25px;
}

.g-cover .g-cover-header .g-cover-additional {
    font-family: "nyt-magsans", arial, helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    display: block;
    text-align: center;
}

@media (max-width: 1023px) {
    .g-cover .g-cover-header .g-cover-hed {
        font-size: 28px;
        line-height: 32px;
    }
}

@media (min-width: 1024px) {
    .g-cover .g-cover-header .g-cover-hed h3 {
        font-size: 36px;
        line-height: 32px;
    }

    .g-cover .g-cover-header .g-cover-hed .g-cover-byline {
        font-size: 24px;
        line-height: 32px;
    }

    .g-cover .g-cover-header .g-cover-dek {
        max-width: 900px;
    }
}

/* leading */
#leading {
    background-image: url("https://raw.githubusercontent.com/daphnesun/taiwan-mountain-disaster/main/assets/leading.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
}

.left-half {
    float: left;
    width: 50%;
}

.right-half {
    float: left;
    width: 50%;
}

@media (max-width: 728px) {
    .left-half {
        width: 0%;
    }

    .right-half {
        width: 100%;
    }
}

/* story */
#story-1,
#fact-1,
#fact-3,
#reason-1 {
    background-color: #000;
    height: 100vh;
    font-size: 18px;
    color: #fff;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 10vh;
    top: 0;
    left: 0,
}

@media (min-width: 728px) {
    #story-4 {
        background-image: url("https://raw.githubusercontent.com/daphnesun/taiwan-mountain-disaster/main/assets/story_transition.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-size: 18px;
        width: 100%;
    }
}

@media (max-width: 728px) {
    #story-2:before {
        background: url("https://raw.githubusercontent.com/daphnesun/taiwan-mountain-disaster/main/assets/black_background.png") no-repeat center center;
        /* min-height: 100vh; */
        /* min-height: -webkit-fill-available; */
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 1;
    }

    #story-4:before {
        background: url("https://raw.githubusercontent.com/daphnesun/taiwan-mountain-disaster/main/assets/story_transition_mobile.jpg") no-repeat center center;
        /* min-height: 100vh; */
        /* min-height: -webkit-fill-available; */
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 1;
    }
}

/* fact */


/* reason */
@media (min-width: 728px) {
    #reason-3 {
        background-image: url("https://raw.githubusercontent.com/daphnesun/taiwan-mountain-disaster/main/assets/reason_transition.png");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-size: 18px;
        width: 100%;
    }
}

@media (max-width: 728px) {
    #reason-3:before {
        background: url("https://raw.githubusercontent.com/daphnesun/taiwan-mountain-disaster/main/assets/reason_transition_mobile.png") no-repeat center center;
        /* min-height: 100vh; */
        /* min-height: -webkit-fill-available; */
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -11;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 1;
    }
}

/* gov */
#gov-1 {
    background-color: #e6e6e6;
    min-height: 100vh;
    font-size: 18px;
    color: #000;
    /* box-shadow:0px -50px 5px rgba(0, 0, 0, 0.5);     */
}

/* solution */
#solution-1-1{
    background-color: #000;
    height: 30vh;
    font-size: 18px;
    color: #fff;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 10vh;
    top: 0;
    left: 0,
}
#solution-1-2 {
    background-color: #000;
    height: 50vh;
    font-size: 18px;
    color: #fff;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 10vh;
    top: 0;
    left: 0,
}
#solution-2-1,#solution-3-1 {
    background-color: #000;
    height: 10vh;
    font-size: 18px;
    color: #fff;
    padding-right: 5vw;
    padding-left: 5vw;
    top: 0;
    left: 0,
}
#solution-2-2,#solution-3-2 {
    background-color: #000;
    height: 50vh;
    font-size: 18px;
    color: #fff;
    padding-right: 5vw;
    padding-left: 5vw;
    top: 0;
    left: 0,
}
#f1_container {
    position: relative;
    margin: 10px auto;
    width: 250px;
    height: 250px;
    z-index: 1;
}
#f1_container {
    perspective: 1000px;
}
#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    /*color: white;*/
    text-align: center;
    /*background-color: #aaa;*/
}
#f1_container img {
    width: 250px;
    height: 250px;
}

/*  */
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}


.page-title {

    text-align: center;
    margin: auto;
    width: 70%;
    /* height: 100%; */
    vertical-align: middle;
    padding: 10px;
}


.container-fluid {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    left: 0;
    top: 0;
}

.earth-img {
    position: fixed;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}
